<!DOCTYPE HTML>
<html>
<include file="Common/header" />
<style>
    a{
        text-decoration:none;
    }
</style>
<body>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th>值班日期</th>
                <th>编号</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>排序</th>
                <th>调班</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="plan" item="v" key="k" >
            <tr class="text-c">
                <td>{$k}</td>
                <td>{$v.number}</td>
                <td><a>{$v.nickname}</a></td>
                <td>{$v.mobile}</td>
                <td>{$v.email}</td>
                <td>{$v.ranking}</td>
                <td>
                    <a onClick="openPage(this)" data-href="{:U('')}" href="javascript:;" title="调班">
                        调班
                    </a>
                </td>
            </tr>
            </foreach>
            </tbody>
        </table>
        {$data.page}
    </div>
</div>
<include file="Common/footer" />
</body>
</html>