<!DOCTYPE HTML>
<html>
<include file="Common/header"/>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>搜索用户：
            </label>
            <div class="formControls col-xs-4 col-sm-7">
                <input type="text" placeholder="请输入用户姓名" class="input-text" id="name">
            </div>
        </div>

        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
                <thead>
                <tr class="text-c">
                    <th>编号</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>手机号</th>
                    <th>班级</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="list"></tbody>
            </table>
            {$page}
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>违纪人员列表：
            </label>
            <div class="formControls col-xs-4 col-sm-7" id="ls"></div>
        </div>

        <div class="row cl">
            <div class="col-xs-6 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                <button id="subBtn" class="btn btn-primary noradius" type="button">&nbsp;&nbsp;添加违纪人员&nbsp;&nbsp;
                </button>
            </div>
        </div>

    </form>
</article>

<include file="Common/footer"/>
<script>
    var users = [];
    var did = '{$did}'
    $(function () {
        /**
         * 搜索用户
         */
        $('#name').keyup(function () {
            var i = $(this);
            var name = i.val();
            $.post('{:U("Home/User/ajax_student_list")}', {name: name}, function (e) {
                var ls = e.list;
                console.log(ls);
                if (ls.length) {
                    var str = '';
                    for (var j in ls) {
                        var tmp = ls[j];
                        str += '<tr class="text-c">' +
                            '<td>' + tmp.number + '</td>' +
                            '<td>' + tmp.nickname + '</td>' +
                            '<td>' + tmp.email + '</td>' +
                            '<td>' + tmp.mobile + '</td>' +
                            '<td>' + tmp.department_name + '/' + tmp.profession_name + '/' + tmp.class_name + '</td>' +
                            '<td class="c-red pointer" data-name="' + tmp.nickname + '" data-id="' + tmp.user_id + '">违纪</td>' +
                            '</tr>';
                    }
                    $('#list').html(str);
                } else {
                    $('#list').html('');
                }
            });
        });

        /**
         * 记录违纪人员
         */
        $(document).on('click', '.pointer', function () {
            var i = $(this);
            var id = parseInt(i.attr('data-id'));
            var allow = 1;
            users.forEach(function (v, k, arr) {
                if (v == id) {
                    errorAlert('该学生已被添加');
                    allow = 0;
                    return false;
                }
            });
            if (allow) {
                $('#ls').html($('#ls').html() + '<button type="button" class="btn btn-danger size-MINI noradius ml-5">' + i.attr('data-name') + '</button>');
                users.push(id);
            }
        });

        /**
         * 提交违纪人员
         */
        $('#subBtn').click(function () {

            $.post("", {did: did, users: users}, function (e) {
                if (e.status) {
//                    successAlert(e.info);
                    window.location.href = e.url;
                } else {
                    errorAlert(e.info);
                }
            });
        });


    })

</script>
</body>
</html>