<!DOCTYPE HTML>
<html>
<include file="Common/header"/>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary" title="添加用户" data-width="1200" data-href="{:U('Home/User/add')}"
               onclick="openPage(this)" href="javascript:;">
                <i class="Hui-iconfont Hui-iconfont-add"></i> 添加用户
            </a>

            <a class="btn btn-success" title="添加学生" data-width="1200" data-href="{:U('Home/User/add_student')}"
               onclick="openPage(this)" href="javascript:;">
                <i class="Hui-iconfont Hui-iconfont-add"></i> 添加学生
            </a>
            <if condition="$pid">
            <a class="btn btn-warning" href="javascript:window.history.go(-1);">
                <i class="Hui-iconfont Hui-iconfont-chexiao"></i> 返回
            </a>
            </if>
        </span>
        <span class="r">
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
               href="javascript:location.replace(location.href);" title="刷新">
                <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
            </a>
        </span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th>编号</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>手机号</th>
                <th>身份证号</th>
                <th>性别</th>
                <th>角色</th>
                <th>地区</th>
            </tr>
            </thead>
            <tbody>
            <volist name="user_list" id="v">
                <tr class="text-c">
                    <td>{$v.number}</td>
                    <td><a href="{:U('Home/Area/area_list',['pid'=>$v['area_id']])}">{$v.nickname}</a></td>
                    <td>{$v.email}</td>
                    <td>{$v.mobile}</td>
                    <td>{$v.id_card}</td>
                    <td>
                        <if condition="$v['sex']">男
                            <else/>
                            女
                        </if>
                    </td>
                    <td>{$v.role_name}</td>
                    <td data-id="{$v.area}" class="area"><span>{$v.area_name}</span></td>

                </tr>
            </volist>
            </tbody>
        </table>
        {$page}
    </div>
</div>
<include file="Common/footer"/>
<script>
    $(function () {
        $('.area').mouseover(function () {
            var j = $(this);
            var id = j.attr('data-id');
            $.post('{:U("Home/Area/ajax_path_info")}', {id: id}, function (e) {
                var str = '';
                for (var i in e) {
                    str += e[i].area_name + '/';
                }
                str = str.substr(0, str.length - 1);
                //layer.tips(str, j.children());
                layer.tips(str, j.children(), {tips: [1, '#5a98de'], time: 10000});
            })
        });
    })
</script>
</body>
</html>