<!DOCTYPE HTML>
<html>
<include file="Common/header" />
<body>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a data-href="{:U('Home/User/add')}" onclick="openPage(this)" title="添加用户" class="btn btn-primary">
                    <i class="Hui-iconfont Hui-iconfont-add"></i> 添加用户</a>

                <a data-href="{:U('Home/User/add_student')}" onclick="openPage(this)" title="添加学生" class="btn btn-success">
                    <i class="Hui-iconfont Hui-iconfont-add"></i> 添加学生</a>
                <if condition="$pid">
                <a class="btn btn-warning" href="javascript:window.history.go(-1);">
                    <i class="Hui-iconfont Hui-iconfont-chexiao"></i> 返回
                </a>
                </if>
            </span>

            <span class="r">
                <a href="" class="btn btn-success radius r" href="javascript:location.replace(location.href);" title="刷新">
                    <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
                </a>
            </span>
        </div>

        <!-- 列表内容 -->
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="25">
                            <input type="checkbox" name="" value="">
                        </th>
                        <th width="80">ID</th>
                        <th width="80">编号</th>
                        <th width="100">姓名</th>
                        <th width="">邮箱</th>
                        <th width="90">手机</th>
                        <th width="150">身份证</th>
                        <th width="40">性别</th>
                        <th width="130">角色</th>
                         <th width="70">地区</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="user_list" id="v">
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <td>{$v.user_id}</td>
                            <td>{$v.number}</td>

                            <td>{$v.nickname}</td>
                            <td>{$v.email}</td>
                            <td>{$v.mobile}</td>
                            <td>{$v.id_card}</td>
                            <td class="text-c">
                                <if condition="$v['sex']">男 <else/>女</if>
                            </td>
                            <td>{$v.role_name}</td>
                            <td data-id="{$v.area}" class="area">
                                <span>{$v.area_name}</span>
                            </td>
                        </tr>
                    </volist>
                </tbody>
            </table>
            {$page}
        </div>
    </div>
<include file="Common/footer" />
<script >

    $(function () {
        $('.area').mouseover(function () {
            var j = $(this);
            var id = j.attr('data-id');
            $.post('{:U("Home/Area/ajax_path_info")}',{id:id},function(e){
                console.log()
                var str = '';
                for (var i in e)
                {
                    str += e[i].area_name + '/';
                }
                //小提示
                str = str.substr(0,str.length-1);
                //layer.tips(str, j.children());
                layer.tips(str, j.children(), { tips: [1, '#5a98de'], time: 10000 });
            })
        });
    })

</script>
</body>
</html>
