<html>
<script src="/20171127/static/ui/ui.admin/js/H-ui.admin.js"></script>

<include file="Common/header"/>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th>编号</th>
                <th>学科名称</th>
                <th>介绍</th>
                <th>选课</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="data.list" id="v">
                <tr class="text-c" data-id="{$v.subject_id}">
                    <td>{$v.subject_number}</td>
                    <td><a href="">{$v.subject_name}</a></td>
                    <td>{$v.subject_remark}</td>
                    <if condition="$v['selected']">
                        <if condition="$v['necessary']">
                            <td class="cancel c-warning pointer">必修</td>
                            <else/>
                            <td class="cancel c-primary pointer">选修</td>
                        </if>
                        <else/>
                        <td class="cancel"></td>
                    </if>
                    <td>
                        <if condition="$v['selected']">
                            <button type="button" class="btn btn-primary size-MINI noradius elective disabled">选修</button>
                            <button type="button" class="btn btn-warning size-MINI noradius necessary disabled">必修</button>
                            <else/>
                            <button type="button" class="btn btn-primary size-MINI noradius elective">选修</button>
                            <button type="button" class="btn btn-warning size-MINI noradius necessary">必修</button>
                        </if>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        {$data.page}
    </div>
</div>
<include file="Common/footer"/>
<script>
    $(function () {
        var pid = "{$pid}";

        //添加选修操作
        $('.elective').click(function () {
            var i = $(this);
            var id = i.parent().parent().attr('data-id');
            $.post('', {id: id, pid: pid, type: 0}, function (e) {
                if (e.status) {
                    i.parent().prev().html('选修').removeClass('c-warning').addClass('c-primary pointer');
                    i.addClass('disabled');
                    i.next().addClass('disabled');
                } else {
                    errorAlert(e.info);
                }
            });

        });


        //添加必修的操作
        $('.necessary').click(function () {
            var i = $(this);
            var id = i.parent().parent().attr('data-id');
            $.post('', {id: id, pid: pid, type: 1}, function (e) {
                if (e.status) {
                    i.parent().prev().html('必修').removeClass('c-primary').addClass('c-warning pointer');
                    i.addClass('disabled');
                    i.prev().addClass('disabled');
                } else {
                    errorAlert(e.info);
                }
            });


        });

        $('.cancel').dblclick(function () {
            var i = $(this);
            layer.confirm('取消选课会删除掉本专业已添加的任课信息', {
                btn: ['确定', '取消'] //按钮
            }, function (index) {
                var id = i.parent().attr('data-id');
                $.post('{:U("delete_subject")}', {id: id, pid: pid}, function (e) {
                    if (e.status) {
                        i.html('');
                        i.next().children().removeClass('disabled');
                    } else {
                        errorAlert(e.info);
                    }
                });
                layer.close(index);
            });

        });


    })
</script>
</body>
</html>