<include file="Common/header" />
<style>
    a{
        text-decoration:none;
    }
</style>
<body>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <if condition="$did">
            <a class="btn btn-warning" href="javascript:window.history.go(-1);">
                <i class="Hui-iconfont Hui-iconfont-chexiao"></i> 返回
            </a>
            </if>
        </span>
        <span class="r">
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
                <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
            </a>
        </span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th>编号</th>
                <th>名称</th>
                <th>入学时间</th>
                <th>毕业时间</th>
                <th>班级人数</th>
                <th>辅导员</th>
                <th>班级人员管理</th>
            </tr>
            </thead>
            <tbody>
            <volist name="data.list" id="v">
            <tr class="text-c">
                <td>{$v.class_number}</td>
                <td><a href="{:U('')}">{$v.class_name}</a></td>
                <td>{$v.start_time}</td>
                <td>{$v.end_time}</td>
                <td>{$v.student_num}</td>
                <td>{$v.nickname} ( {$v.mobile} )</td>
                <td>
                    <a onClick="openPage(this)" data-width="1200" data-height="500" data-href="{:U('Home/Class/class_list',['id'=>$v['profession_id']])}" href="javascript:;" title="学生列表 （{$v.class_name}）">
                    <i class="Hui-iconfont Hui-iconfont-list"></i>
                    </a>
                    <a onClick="openPage(this)" data-width="1200" data-height="600" data-href="{:U('Home/User/import_student',['id'=>$v['class_id']])}" href="javascript:;" title="导入学生信息 （{$v.class_name}）">
                        <i class="Hui-iconfont Hui-iconfont-daoru"></i>
                    </a>
                </td>
            </tr>
            </volist>
            </tbody>
        </table>
        {$data.page}
    </div>
</div>
<include file="Common/footer" />
</body>
</html>