<include file="Common/header"/>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th>编号</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>手机号</th>
                <th>身份证号</th>
                <th>性别</th>
                <th width="100">地区</th>
            </tr>
            </thead>
            <tbody>
            <volist name="user_list" id="v">
                <tr class="text-c">
                    <td>{$v.number}</td>
                    <td><a href="{:U('Home/Area/area_list',['pid'=>$v['area_id']])}">{$v.nickname}</a></td>
                    <td>{$v.email}</td>
                    <td>{$v.mobile}</td>
                    <td>{$v.id_card}</td>
                    <td>
                        <if condition="$v['sex']">男
                            <else/>
                            女
                        </if>
                    </td>
                    <td data-id="{$v.area}" class="area"><span><i class="Hui-iconfont Hui-iconfont-home"></i></span>
                    </td>

                </tr>
            </volist>
            </tbody>
        </table>
        {$page}
    </div>
</div>
<include file="Common/footer"/>
<script>
    $(function () {
        $('.area').mouseover(function () {
            var j = $(this);
            var id = j.attr('data-id');
            $.post('{:U("Home/Area/ajax_path_info")}', {id: id}, function (e) {
                var str = '';
                for (var i in e) {
                    str += e[i].area_name + '/';
                }
                str = str.substr(0, str.length - 1);
                //layer.tips(str, j.children());
                layer.tips(str, j.children(), {tips: [1, '#5a98de'], time: 10000});
            })
        });
    })
</script>
</body>
</html>