<!DOCTYPE HTML>
<html>
<include file="Common/header"/>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">

        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span> 名称：
            </label>
            <div class="formControls col-xs-4 col-sm-5">
                <input type="text" class="input-text" id="name">
            </div>
        </div>

        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span> 编号：
            </label>
            <div class="formControls col-xs-4 col-sm-5">
                <input type="text" class="input-text" id="number">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">院系介绍：</label>
            <div class="formControls col-xs-4 col-sm-5">
                <textarea class="textarea" id="remark" placeholder="院系的介绍...10-255个字符"
                          onKeyUp="countStringLength(this,10,255)"></textarea>
                <p class="textarea-numberbar">
                    <em class="textarea-length">0</em>/255
                </p>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-4 col-sm-5 col-xs-offset-4 col-sm-offset-3">
                <button id="subBtn" class="btn btn-primary noradius" type="button">&nbsp;&nbsp;添加&nbsp;&nbsp;</button>
            </div>
        </div>

    </form>
</article>

<include file="Common/footer"/>
<script>
    $(function () {

        $('#subBtn').click(function () {
            var number = $('#number').val();
            var name = $('#name').val();
            var remark = $('#remark').val();
            if (remark.length > 255 || remark.length < 10) {
                errorAlert('院系介绍需要10-255个字符');
                return false;
            }
            $.post('', {n: number, name: name, r: remark}, function (e) {
                if (e.status) {
                    successAlert(e.info);
                    window.parent.location.reload();
                } else {
                    errorAlert(e.info);
                }
            })

        });
    })
</script>
</body>
</html>