<!DOCTYPE HTML>
<html>
<include file="Common/header"/>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">

        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span> 名称：
            </label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" id="name" placeholder="学科的名称">
            </div>
        </div>

        <div class="row cl">

            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span> 编号：
            </label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" id="number" placeholder="学科的编号">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">学科介绍：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <textarea class="textarea" id="remark" placeholder="学科的介绍...最少10个字符"></textarea>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-4 col-sm-5 col-xs-offset-4 col-sm-offset-3">
                <button id="subBtn" class="btn btn-primary noradius" type="button">&nbsp;&nbsp;添加&nbsp;&nbsp;</button>
            </div>
        </div>

    </form>
</article>

<include file="Common/footer"/>
<script>
    $(function () {
        $('#subBtn').click(function () {
            var number = $('#number').val();
            var name = $('#name').val();
            var remark = $('#remark').val();
            if (remark.length < 10) {
                errorAlert('学科介绍至少需要10个字符');
                return false;
            }
            $.post('', {n: number, name: name, r: remark}, function (e) {
                if (e.status) {
                    successAlert(e.info);
                    $('#number').val('');
                    $('#name').val('');
                    $('#remark').val('');
                } else {
                    errorAlert(e.info);
                }
            })

        });
    })
</script>
</body>
</html>