<!DOCTYPE HTML>
<html>
<include file="Common/header" />
<style>
    a{
        text-decoration:none;
    }
</style>
<body>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary" title="添加学科" data-href="{:U('add')}" onclick="openPage(this)" href="javascript:;">
                <i class="Hui-iconfont Hui-iconfont-add"></i> 添加学科
            </a>
        </span>
        <span class="r">
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
                <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
            </a>
        </span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th>编号</th>
                <th>学科名称</th>
                <th>介绍</th>
            </tr>
            </thead>
            <tbody>
            <volist name="data.list" id="v">
            <tr class="text-c">
                <td>{$v.subject_number}</td>
                <td><a href="">{$v.subject_name}</a></td>
                <td>{$v.subject_remark}</td>
            </tr>
            </volist>
            </tbody>
        </table>
        {$data.page}
    </div>
</div>
<include file="Common/footer" />
</body>
</html>